.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Adicionando cores e estilos personalizados */
body {
  background-color: #f0f8ff; /* Fundo azul claro */
  color: #333; /* Texto cinza escuro */
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #2c3e50; /* Cabeçalhos em azul escuro */
}

a {
  color: #3498db; /* Links em azul */
  text-decoration: none;
}

a:hover {
  color: #1abc9c; /* Links em verde ao passar o mouse */
}

.table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff; /* Fundo branco para tabelas */
  color: #2c3e50; /* Texto em azul escuro */
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #3498db; /* Cabeçalhos da tabela em azul */
  color: white;
}

button {
  background-color: #1abc9c; /* Botões em verde */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #16a085; /* Botões em verde escuro ao passar o mouse */
}

nav {
  background-color: #2c3e50; /* Menu de navegação em azul escuro */
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
}

nav a:hover {
  color: #1abc9c; /* Links do menu em verde ao passar o mouse */
}

/* Estilo para o logotipo */
.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
}

.logo img {
  height: 50px;
}
